.style-wrapper {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.style-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: .75rem;

  input, input:focus, input:hover {
    all: unset;
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    color: var(--text-heading);
    height: 3rem;

    .style-image {
      background: url(../../assets/icons/dark.svg) no-repeat center/contain;
      width: 4rem;
      height: 2rem;
    }
    
    .light {
      display: none;
    }
  }

  &:has(:checked) {
    label {
      .style-image {
        background: url(../../assets/icons/light.svg) no-repeat center/contain;
      }
      .dark {
        display: none;
      }
      .light {
        display: flex;
      }
    }
  }
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.checkbox-inner {
  display: flex;
  position: relative;
  gap: .75rem;
  padding: .25rem;
  align-items: center;

  input, input:focus, input:hover {
    all: unset;
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox-image {
    background: url(../../assets/icons/check-default.svg);
    height: 1.25rem;
    width: 1.25rem;
  }

  label {
    margin-bottom: 0;

    strong {
      color: var(--brand-light);
      text-decoration: underline;
    }
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../../assets/icons/checked.svg);
  }
}