.color-wrapper {
  display: flex;
  justify-content: space-between;
  gap: auto;
}

.color-inner {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 2.125rem;
  height: 2.125rem;
  width: 2.125rem;
  border-radius: 50%;
  background-color: var(--shape-button);
  padding: .38rem;
  
  input, input:focus, input:hover {
    all: unset;
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  label {
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    margin-bottom: 0;
  }
}

.color-inner:hover {
  outline: .125rem solid var(--brand-light);
}

.color-inner:has(:checked) {
  outline: .125rem solid var(--brand-light);
}

#blue-color + label {
  background-color: var(--brand-light);
}
#navy-color + label {
  background-color: #6A59FF;
}
#purple-color + label {
  background-color: #B259FF;
}
#fuschia-color + label {
  background-color: #FF59F9;
}
#pink-color + label {
  background-color: #FF598B;
}
#danger-color + label {
  background-color: var(--semantic-error);
}
#orange-color + label {
  background-color: #FF8B59;
}
#yellow-color + label {
  background-color: #FFCD59;
}
#lime-color + label {
  background-color: #E1FF59;
}
#green-color + label {
  background-color: #59FF91;
}
#cyan-color + label {
  background-color: #59FFF9;
}
