label + .radio-wrapper {
margin-top: .75rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  gap: .25rem;
  border-radius: .5rem;
  padding: .25rem;
}

.radio-inner {
  border-radius: .5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: .5rem;
  padding: .5em;
  position: relative;

  input, input:focus, input:hover {
    all: unset;
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  &:hover, &:focus-within {
    background-color: var(--shape-button);
    outline: none;

    label {
      color: var(--text-heading);
    }

    & .radio-image {
      background: url(../../assets/icons/building-blue.svg) no-repeat center/contain;
    }

    & .radio-image-1 {
      background: url(../../assets/icons/video-2.svg) no-repeat center/contain;
    }
  }

  &:has(:checked) {
    background-color: var(--shape-button);

    & .radio-image {
      background: url(../../assets/icons/building-blue.svg) no-repeat center/contain;
    }

    & .radio-image-1 {
      background: url(../../assets/icons/video-2.svg) no-repeat center/contain;
    }
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: .5rem;
    margin-bottom: 0;

    .radio-image, .radio-image-1 {
      background: url(../../assets/icons/building.svg) no-repeat center/contain;
      width: 1.38rem;
      height: 1.38rem;
    }
  
    .radio-image-1 {
      background: url(../../assets/icons/video.svg) no-repeat center/contain;
    }
  }
}




  