@import url(fields/index.css);

form {
  margin-top: 2.5rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

legend {
  font: var(--heading-sm);
  margin-bottom: 1.5rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}

.terms-wrapper {
  margin-top: 3rem;
  padding-top: 2.5rem;
  border-top: 1px solid var(--input-stroke);
}