#app {
  display: grid;
  grid-template-columns: 25% 75%;

  height: 100vh;
  overflow: hidden;
  padding: 1.25rem;
  gap: 1.25rem;
}

aside {
  padding: 1.25rem;
  background-color: var(--shape-body);
  background: url(../assets/Background.svg) no-repeat center/cover;
  border-radius: .75rem;

  .aside-container {
    max-width: 25rem;
    padding: 2rem;
    width: 100%;

    img {
      width: 2.8rem;
      height: 3rem;
      margin-bottom: 1rem;
    }
    
    p {
      font-weight: 300;
    }
  }
}

main {
  overflow: auto;
  padding: 1.25rem;
  background-color: var(--shape-body);
  border-radius: .75rem;

  .main-container {
    max-width: 51.25rem;
    margin: 0 auto;
    padding: 5rem;
  }
}